@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
  span {
    @apply cursor-default;
  }
}

@layer components {
  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  [type='checkbox'] {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type='checkbox'],
  [type='checkbox']:checked,
  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus,
  [type='checkbox']:indeterminate:hover {
    @apply border-white;
  }

  [type='radio']:checked + label {
    border-color: #defb48;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .squared-input {
    border: 1px solid #6b6b6b;
  }

  input ~ .box {
    background-color: #6b6b6b;
  }

  input:checked ~ .dot {
    @apply bg-neon;
    transform: translateX(100%);
  }

  input:checked ~ .box {
    background-color: #191728;
  }
  audio {
    border-radius: '0px';
    background-color: 'rgba(255, 255, 0)';
    color: 'rgba(255, 255, 0)';
    border: '15px solid red';
  }
}

.radio + label span {
  transition: background 0.2s, transform 0.2s;
}

.radio + label span:hover,
.radio + label:hover span {
  transform: scale(1.1);
}

.radio:checked + label span {
  background-color: #defb48;
  box-shadow: 0px 0px 0px 4px black inset;
}

.chart {
  width: 96%;
  margin-left: 3%;
  top: calc(-40px + -50%);
}

.abc-chart {
  width: 94%;
  margin-left: 4%;
  top: calc(-23px + -60%);
}

.curve-chart {
  width: 35vw;
  margin-left: 172px;
  top: calc(-24px + -50%);
}

.text-stroke {
  -webkit-text-stroke: #03b3ff;
  -webkit-text-stroke-width: 2px;
}

.bg-lp-size {
  background-size: 100vw 1828px;
}

.audio-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 130px;
  height: 4px;
  background: #0c25be;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.audio-slider:hover {
  opacity: 1;
}

.audio-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 4px;
  background: #3f58f1;
  cursor: pointer;
  opacity: 1;
}

.slider::-moz-range-thumb {
  width: 4px;
  height: 4px;
  background: #3f58f1;
  cursor: pointer;
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #defb48;
  cursor: pointer;
  opacity: 1;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #defb48;
  cursor: pointer;
  opacity: 1;
}

.tooltip-top {
  width: 270px;
  bottom: calc(100% + 11px);
  transform: translateX(-50%);
}

.triangle-top {
  border-bottom-color: #0a0a06;
  transform: rotate(180deg) translateX(-50%);
  left: calc(50% - 12px);
}

.tooltip-bottom {
  width: 270px;
  top: calc(100% + 11px);
  transform: translateX(-50%);
}

.triangle-bottom {
  border-bottom-color: #0a0a06;
  transform: rotate(180deg) translateX(-50%);
  left: calc(50% - 12px);
}

html {
  font-size: 10px;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
