@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
}

@layer components {
  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  [type='checkbox'] {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type='checkbox'],
  [type='checkbox']:checked,
  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus,
  [type='checkbox']:indeterminate:hover {
    @apply border-white;
  }
}

.tooltip {
  width: 330px;
  bottom: calc(100% + 11px);
}

.triangle {
  border-bottom-color: #0a0a06;
  transform: rotate(180deg) translateX(-50%);
  left: calc(50% - 12px);
}

.chart {
  width: 96%;
  margin-left: 3%;
  top: calc(-40px + -50%);
}

.text-stroke {
  -webkit-text-stroke: #03b3ff;
  -webkit-text-stroke-width: 2px;
}
